{
  "swagger": "2.0",
  "info": {
    "title": "CW Ticket Tools v19",
    "description": "Count, search, and retrieve ConnectWise Manage tickets using JSON text filters. Supports priority filters such as P1, Priority 1, Critical, and Emergency.",
    "version": "1.0.19"
  },
  "host": "mt-copilot-apim.azure-api.net",
  "basePath": "/cw-v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Enter the full authorization header value, including Bearer."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/api/copilot/tickets/count/json": {
      "post": {
        "operationId": "CopilotCountTicketsJsonFiltersV19",
        "summary": "Count ConnectWise tickets",
        "x-ms-summary": "Count ConnectWise tickets",
        "description": "Counts ConnectWise Manage tickets. Use this for how many, count, or total ticket questions. Always use entity ticket. Generate filters_json as a JSON array string. Use company contains for customer names. Use summary contains only when the user specifically asks for text in the ticket summary. Use status semantic_eq open for open tickets. Use priority eq P1 for P1, Priority 1, Critical, Emergency, or urgent tickets. Do not treat P1 as summary text unless the user explicitly says summary contains P1. For open P1 tickets use filters_json: [{\"field\":\"priority\",\"operator\":\"eq\",\"value\":\"P1\"},{\"field\":\"status\",\"operator\":\"semantic_eq\",\"value\":\"open\"}].",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Ticket count request.",
            "x-ms-summary": "Ticket count request",
            "schema": {
              "$ref": "#/definitions/CopilotCountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Count of matching tickets.",
            "schema": {
              "$ref": "#/definitions/SemanticCountResponse"
            }
          }
        }
      }
    },
    "/api/copilot/tickets/search/json": {
      "post": {
        "operationId": "CopilotSearchTicketsJsonFiltersV19",
        "summary": "Search ConnectWise tickets",
        "x-ms-summary": "Search ConnectWise tickets",
        "description": "Searches ConnectWise Manage tickets. Use this for find, show, list, retrieve, ticket details, ticket number questions, or specific ticket ID lookups. Always use entity ticket. Never call this tool with only entity. Always provide filters_json. For follow-up questions, reuse all filters from the previous ticket count or search unless the user explicitly changes them. If the user asks about a specific ticket number, use filters_json with field id, operator eq, and the ticket number. Generate filters_json as a JSON array string when filters are needed. Use company contains for customer names. Use summary contains only when the user specifically asks for text in the ticket summary. Use status semantic_eq open for open tickets. Use priority eq P1 for P1, Priority 1, Critical, Emergency, or urgent tickets. Do not treat P1 as summary text unless the user explicitly says summary contains P1. For open P1 tickets use filters_json: [{\"field\":\"priority\",\"operator\":\"eq\",\"value\":\"P1\"},{\"field\":\"status\",\"operator\":\"semantic_eq\",\"value\":\"open\"}]. For listing open P1 ticket numbers use select_json: [\"id\",\"company.name\",\"summary\",\"status.name\",\"urgency.name\",\"last_updated\"]. When the user asks for all matching tickets, the full list, the complete list, or says yes to continue, set limit to 100 instead of calling the same request repeatedly. Never infer or rewrite company_name, status_name, summary, or ticket ID from conversation context; only report the values returned by the tool.",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Ticket search request.",
            "x-ms-summary": "Ticket search request",
            "schema": {
              "$ref": "#/definitions/CopilotSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching ticket rows.",
            "schema": {
              "type": "object",
              "description": "Ticket search result.",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/api/copilot/tickets/notes/json": {
      "post": {
        "operationId": "CopilotGetTicketNotesJsonFiltersV19",
        "summary": "Get ConnectWise ticket notes",
        "x-ms-summary": "Get ConnectWise ticket notes",
        "description": "Retrieves notes from matching ConnectWise Manage tickets. Use this for summarize, review, read, or explain ticket notes. Always use entity ticket. Generate filters_json as a JSON array string. Use company contains for customer names. Use summary contains only when the user specifically asks for text in the ticket summary. Use status semantic_eq open for open tickets. Use priority eq P1 for P1, Priority 1, Critical, Emergency, or urgent tickets. Do not treat P1 as summary text unless the user explicitly says summary contains P1.",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Ticket notes request.",
            "x-ms-summary": "Ticket notes request",
            "schema": {
              "$ref": "#/definitions/CopilotNotesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching ticket notes.",
            "schema": {
              "type": "object",
              "description": "Ticket notes result.",
              "additionalProperties": true
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CopilotCountRequest": {
      "type": "object",
      "description": "Ticket count request.",
      "required": [
        "entity",
        "filters_json"
      ],
      "properties": {
        "entity": {
          "type": "string",
          "default": "ticket",
          "description": "Always use ticket.",
          "x-ms-summary": "Entity",
          "x-ms-visibility": "important"
        },
        "filters_json": {
          "type": "string",
          "description": "JSON array string of ticket filters.",
          "x-ms-summary": "Filters JSON",
          "x-ms-visibility": "important"
        }
      }
    },
    "CopilotSearchRequest": {
      "type": "object",
      "description": "Ticket search request. This tool requires filters_json so it cannot be used for unsafe unfiltered searches.",
      "required": [
        "entity",
        "filters_json"
      ],
      "properties": {
        "entity": {
          "type": "string",
          "default": "ticket",
          "description": "Always use ticket.",
          "x-ms-summary": "Entity",
          "x-ms-visibility": "important"
        },
        "filters_json": {
          "type": "string",
          "description": "Required JSON array string of ticket filters. Do not leave blank.",
          "x-ms-summary": "Filters JSON",
          "x-ms-visibility": "important"
        },
        "select_json": {
          "type": "string",
          "description": "Optional JSON array string of fields to return.",
          "x-ms-summary": "Select JSON"
        },
        "order_by_json": {
          "type": "string",
          "description": "Optional JSON array string of sort fields.",
          "x-ms-summary": "Order by JSON"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "default": 100,
          "minimum": 1,
          "maximum": 100,
          "description": "Maximum number of rows to return. Use 100 when the user asks for all tickets, a full list, or a complete list.",
          "x-ms-summary": "Row limit"
        }
      }
    },
    "CopilotNotesRequest": {
      "type": "object",
      "description": "Ticket notes request.",
      "required": [
        "entity",
        "filters_json"
      ],
      "properties": {
        "entity": {
          "type": "string",
          "default": "ticket",
          "description": "Always use ticket.",
          "x-ms-summary": "Entity",
          "x-ms-visibility": "important"
        },
        "filters_json": {
          "type": "string",
          "description": "JSON array string of ticket filters.",
          "x-ms-summary": "Filters JSON",
          "x-ms-visibility": "important"
        },
        "limit_tickets": {
          "type": "integer",
          "format": "int32",
          "default": 5,
          "minimum": 1,
          "description": "Maximum matching tickets.",
          "x-ms-summary": "Ticket limit"
        },
        "limit_notes": {
          "type": "integer",
          "format": "int32",
          "default": 25,
          "minimum": 1,
          "description": "Maximum notes to return.",
          "x-ms-summary": "Note limit"
        },
        "include_internal": {
          "type": "boolean",
          "default": true,
          "description": "Include internal notes.",
          "x-ms-summary": "Include internal notes"
        }
      }
    },
    "SemanticCountResponse": {
      "type": "object",
      "description": "Ticket count response.",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Entity counted.",
          "x-ms-summary": "Entity"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Number of matching tickets.",
          "x-ms-summary": "Ticket count"
        },
        "execution_time_ms": {
          "type": "integer",
          "format": "int32",
          "description": "Query execution time.",
          "x-ms-summary": "Execution time"
        }
      }
    }
  }
}