{
  "swagger": "2.0",
  "info": {
    "title": "CW Ticket Count Tools v10",
    "description": "Count ConnectWise Manage tickets using JSON text filters.",
    "version": "1.0.10"
  },
  "host": "mt-copilot-apim.azure-api.net",
  "basePath": "/cw-v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Enter the API token as \"Bearer YOUR_TOKEN\"."
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/copilot/tickets/count/json": {
      "post": {
        "operationId": "CopilotCountTicketsJsonFilters",
        "summary": "Count ConnectWise tickets",
        "x-ms-summary": "Count ConnectWise tickets",
        "description": "Counts ConnectWise Manage tickets. Use entity ticket. Generate filters_json as a JSON array string. Include only filters stated by the user. Use company contains for customer/client names. Use summary contains for text in the ticket summary. Example filters_json: [{\"field\":\"company\",\"operator\":\"contains\",\"value\":\"Oaklawn\"},{\"field\":\"summary\",\"operator\":\"contains\",\"value\":\"SentinelOne\"}]\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Ticket count request.",
            "x-ms-summary": "Ticket count request",
            "schema": {
              "$ref": "#/definitions/CopilotSemanticCountJsonRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Count of matching tickets.",
            "schema": {
              "$ref": "#/definitions/SemanticCountResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CopilotSemanticCountJsonRequest": {
      "type": "object",
      "description": "Count ticket request with JSON text filters.",
      "required": [
        "entity",
        "filters_json"
      ],
      "properties": {
        "entity": {
          "type": "string",
          "default": "ticket",
          "description": "Always use ticket.",
          "x-ms-summary": "Entity",
          "x-ms-visibility": "important"
        },
        "filters_json": {
          "type": "string",
          "description": "JSON array string of filter objects. Each object has field, operator, and value. Example: [{\"field\":\"company\",\"operator\":\"contains\",\"value\":\"Oaklawn\"},{\"field\":\"summary\",\"operator\":\"contains\",\"value\":\"SentinelOne\"}]\n",
          "x-ms-summary": "Filters JSON",
          "x-ms-visibility": "important"
        }
      }
    },
    "SemanticCountResponse": {
      "type": "object",
      "description": "Ticket count response.",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Entity counted.",
          "x-ms-summary": "Entity"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Number of matching tickets.",
          "x-ms-summary": "Ticket count"
        },
        "execution_time_ms": {
          "type": "integer",
          "format": "int32",
          "description": "Query execution time in milliseconds.",
          "x-ms-summary": "Execution time milliseconds"
        }
      }
    }
  }
}