swagger: "2.0"
info:
  title: CW Ticket Count Tools v9
  description: Tool for counting ConnectWise Manage tickets using JSON text filters.
  version: "1.0.9"

host: mt-copilot-apim.azure-api.net
basePath: /cw-v3
schemes:
  - https

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  BearerAuth:
    type: apiKey
    name: Authorization
    in: header
    description: Enter the API token as "Bearer YOUR_TOKEN".

security:
  - BearerAuth: []

paths:
  /api/copilot/tickets/count/json:
    post:
      operationId: CopilotCountTicketsJsonFilters
      summary: Count ConnectWise tickets
      x-ms-summary: Count ConnectWise tickets
      description: >
        Counts ConnectWise Manage tickets using JSON text filters. Use this tool for questions asking
        how many, count, number of, total, or quantity of tickets match conditions.

        Always use entity ticket.

        The filters_json input must be a valid JSON array string. Do not ask the user for filters that are
        not mentioned. Only include filters stated or strongly implied by the user.

        For company, customer, account, organization, client, or site names, add:
        {"field":"company","operator":"contains","value":"COMPANY_NAME"}

        For text in the ticket summary, add:
        {"field":"summary","operator":"contains","value":"SUMMARY_TEXT"}

        For status or lifecycle terms, add:
        {"field":"status","operator":"semantic_eq","value":"STATUS_TERM"}

        For board names, add:
        {"field":"board","operator":"contains","value":"BOARD_NAME"}

        For owner names, add:
        {"field":"owner","operator":"contains","value":"OWNER_NAME"}

        For entered date ranges, use field date_entered with operators gte and lte.

        For updated date ranges, use field last_updated with operators gte and lte.

        Example user question:
        How many Oaklawn tickets have SentinelOne in the summary?

        Example filters_json value:
        [{"field":"company","operator":"contains","value":"Oaklawn"},{"field":"summary","operator":"contains","value":"SentinelOne"}]
      security:
        - BearerAuth: []
      parameters:
        - in: body
          name: body
          required: true
          description: Ticket count request with JSON text filters.
          x-ms-summary: Ticket count request
          schema:
            $ref: "#/definitions/CopilotSemanticCountJsonRequest"
      responses:
        "200":
          description: Count of matching tickets.
          schema:
            $ref: "#/definitions/SemanticCountResponse"

definitions:
  CopilotSemanticCountJsonRequest:
    type: object
    description: >
      Request body for counting ConnectWise Manage tickets. Use entity ticket and generate filters_json as a
      valid JSON array string.
    required:
      - entity
      - filters_json
    properties:
      entity:
        type: string
        default: ticket
        description: Always use ticket.
        x-ms-summary: Entity
        x-ms-visibility: important
      filters_json:
        type: string
        description: >
          A valid JSON array string containing filter objects. Include only filters stated or strongly implied
          by the user's question. Each filter object must include field, operator, and value. For example:
          [{"field":"company","operator":"contains","value":"Oaklawn"},{"field":"summary","operator":"contains","value":"SentinelOne"}]
        x-ms-summary: Filters JSON
        x-ms-visibility: important

  SemanticCountResponse:
    type: object
    description: Ticket count response.
    properties:
      entity:
        type: string
        description: Entity counted.
        x-ms-summary: Entity
      count:
        type: integer
        format: int64
        description: Number of matching tickets.
        x-ms-summary: Ticket count
      execution_time_ms:
        type: integer
        format: int32
        description: Query execution time in milliseconds.
        x-ms-summary: Execution time milliseconds